.body {
    display: flex;
    flex-direction: column;
    padding: 40px 100px;
    gap: 40px

}
.body > img {
    width: 100%;
    border-radius: 25px;
}

.collapseList {
    display: flex;
    flex-direction: column;
    gap:30px;
    padding:0 100px;
}