.body-home {
    display: flex;
    flex-direction: column;
    padding: 40px 100px;
    gap: 40px
}

.body-home>img {
    width: 100%;
    border-radius: 25px;
}

.body-home>.galerie {
    background-color: #f6f6f6;
    border-radius: 25px;
    padding: 50px;
    display: grid;
    grid-template-columns: 20vw 20vw 20vw;
    grid-gap: 60px;
    grid-auto-rows: 20vw;
    width: auto;
}
