.body-fiche {
    display: flex;
    flex-direction: column;
    padding: 40px 100px;
    gap: 40px;
    margin: auto;
    background-color: $background-color;
    font-family: Montserrat;

    .infobox {
        display: flex;
        flex-direction: column;
        justify-content:stretch ;
        align-items: space-between;
    }

    .info1 {
        display: flex;
        justify-content: space-between;

        .titre-logement {
            color: $primary-color;
            font-size: 36;
            font-weight: medium;

        }

        .localisation-logement {
            color: black;
            font-size: 18;
            font-weight: medium;

        }

        .nom-proprietaire {
            color: $primary-color;
            font-size: 18;
            font-weight: medium;
        }
    }

    .info2 {
        display: flex;

        .etiquette {
            width: 115px;
            height: 25px;
            background-color: $primary-color; 
            color: white;
            font-size:14;
            font-weight: bold;
            border-radius: 10px;
        }

        .note {
           width:196px ; 
           height:36px;
        }
    }

    .info3 {
        display: flex;
        flex-direction: row;
        justify-content: strech;

        .info-description {
            width:582px;
            height:52px;
        }


    }

}