.body-fiche {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: auto;
    max-width: 1240px;

    .infobox {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .info1 {
            display: flex;
            flex-direction: column;
            gap: 25px;

            .box-titre {
                display: flex;
                flex-direction: column;

                .titre-logement {
                    color: $primary-color;
                    @include font(36px, 500);
                    max-width:950px;
                    width: 60vw;
                }

                .localisation-logement {
                    @include font(18px, 500);
                }
            }

            .etiquette {
                display: flex;
                height: 25px;
                gap: 10px;
            }
        }

        .info2 {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .box-proprietaire {
                display: flex;
                align-items: center;

                span {
                    color: $primary-color;
                    @include font(18px, 500);
                    text-align: right;
                    width: 93px;
                    margin: 10px;
                }

                img {
                    border-radius: 64px;
                    height: 64px;
                    width: 64px;
                }
            }
        }
    }
/* on répète 2 fois le nombre de colonnes de largeur 1fr= une division de la largeur*/
    .info3 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 76px;

        .barreDepliant h2 {
            @include font (18px, 700);
        }
    }
}

@media screen and (max-width: $breakpoint) {
    .body-fiche {
        gap: 15px;

        .infobox {
            flex-direction: column;
            justify-content: space-between;

            .info1 {
                gap: 10px;
                .box-titre {
                    .titre-logement {
                        @include font(18px, 500);
                    }

                    .localisation-logement {
                        @include font(14px, 500);
                    }

                }
            }
    

            .info2 {
                padding-top: 16px;
                flex-direction: row-reverse;
                justify-content: space-between;

                .box-proprietaire {
                    span {
                        @include font(12px, 500);
                        width: 75px;
                    }
                }

                .note {
                    display: flex;
                    align-items: center;
                    img {
                        width: 18px;
                    }
                }
            }
        }

        .info3 {
            grid-template-columns: 100%;
            grid-gap: 20px;
        }
    }
}