.collapse {

    width: auto;
    height: auto;

    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    max-height: 0;

    p {
        padding: 0 20px;
        @include font(18px, 400)
    }
}

.collapse.ouvert {
    max-height: 1000px;
}

.barreDepliant {
    background-color: #ff6060;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 10px 15px;

    h2 {
        color: white;
        @include font(24px, 700);
        margin: 0;
    }

    img {
        width: 32px;
        height: 32px;
    }

}

.fleche {
    transform: rotate(180deg);
    transition: 0.4s ease-in-out;
}

.rotated {
    transform: rotate(0deg);
    transition: 0.4s ease-in-out;
}

@media screen and (max-width: $breakpoint) {
    .barreDepliant {

        h2 {
            @include font(13px, 700)
        }

        img {
            width: 16px;
            height: 16px;
        }

        padding: 10px;
    }
}