@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: Montserrat;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 45px 100px 0 100px;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 50px;

  main {
    height: auto;
  }
}

@media screen and (max-width: $breakpoint) {
  body {
    padding: 35px 20px 0 20px;
  }

  .App {
    gap: 30px
  }
}

