.FooterBox {
    background-color: black;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    gap:30px;
    padding: 30px;

    p {
        color:white;
        font-family: Montserrat;
    }
    img {
        margin-top:30px;
        width: 122px;
        height: 4Opx;

    }
}