.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        height: 68px;
        width: auto;
    }

    .nav {
        display: flex;
        color: black;
        @include font(24px, 500);
        
        a {
            color: black;
            text-decoration: none;
        }

        a:focus {
            border-bottom: 2px solid black;
        }

        ul {
            display: flex;
            list-style-type: none;
            gap: 60px;
        }
    }
}

@media screen and (max-width: $breakpoint) {
    .banner {
        img {
            width: 35vw;
            height: auto;
        }

        .nav {
            @include font(12px, 500);

            ul {
                gap: 26px;
            }
        }
    }
}